extlinux
grub2_ia32_efi
grub2_ia32
grub2_ppc64
grub2_ppc
grub2_x86_64_efi
grub2_x86_64
grub_ia32
grub_x86_64
lilo_ia32
lilo_ia64
silo_sparc64
silo_sparc
uboot_arm5
uboot_arm7
yaboot_ppc64
yaboot_ppc
zipl_s390
zipl_s390x
